<div class="row">
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
<img src="assets/Foto.jpg" class="img-fluid" id="usuario">
</div>
<div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <p id="nombre">Perez Salinas Marcos</p>
</div>

<div class="col-xs-12 col-sm-8 col-md-8 col-lg-8">
    <span>
        <h1>Acerca de mi</h1>
    </span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores sit reiciendis porro? Repudiandae quo provident animi debitis voluptatum similique corrupti doloremque dolorem deserunt vel. Nam expedita natus dolores maxime ducimus!</p>


</div>
</div>